<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="COM.EXPEDIA">
	<test name="FlightsTest">
		<classes>
			<class name="com.expedia.TestClasses.FlightsSearchTest">
				<methods>
					<include name="Basic_Test_001"></include>
					<exclude name="Basic_Test_002"></exclude>
				</methods>
			</class>
		</classes>
	</test>
</suite>
