<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="COM.EXPEDIA">
	<listeners>
		<listener class-name="com.expedia.listeners.ReportListener"></listener>
	</listeners>
	<test name="FlightsTest">
		<classes>
			<class name="com.expedia.TestClasses.FlightsSearchTest">
				<methods>
					<include name="Basic_Test_001"></include>
					<include name="Basic_Test_002"></include>
					<include name="readFromCalendar"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>

